@import url('https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'COM4D';
    src: url('./font/COM4DL__.TTF') format('truetype');
    font-style: normal;
    font-display: swap;
}
  

